<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/_layout}">
<head>
  <meta charset="UTF-8">
  <title>Banana</title>
</head>
<body>
<div layout:fragment="content" class="fragment-banana">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1 th:inline="text">
      [[${pageHeader}]]
      <small>テーブルサンプル</small>
    </h1>
  </section>

  <!-- Main content -->
  <section class="content container-fluid col-xs-12" style="float: left;">
    <div class="box boxed-table">

      <!-- ヘッダー -->
      <div class="box-header">
        <div>ヘッダー</div>
      </div>
      <!-- ヘッダー -->

      <!-- ボディ -->
      <div class="box-body no-padding">
        <table class="table table-striped table-hover table-bordered" about="table">
          <thead>
          <tr>
            <th>
              <div>
                <span class="sortableLabel">col1</span>
                <span class="sortableArrowIcon"></span>
              </div>
            </th>
            <th>
              <div>
                <span class="sortableLabel">col2</span>
                <span class="sortableArrowIcon"></span>
              </div>
            </th>
            <th>
              <div>
                <span class="sortableLabel">col3</span>
                <span class="sortableArrowIcon"></span>
              </div>
            </th>
            <th>
              <div>
                <span class="sortableLabel">col4</span>
                <span class="sortableArrowIcon"></span>
              </div>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td style="word-wrap: break-word;">
              <div>
                <a href="javascript:;" class="next-page"><span>col1</span></a>
              </div>
            </td>
            <td style="word-wrap: break-word;">
              <div>col2</div>
            </td>
            <td style="word-wrap: break-word;">
              <div>col3</div>
            </td>
            <td style="word-wrap: break-word;">
              <div>col4</div>
            </td>
          </tr>
          <tr>
            <td style="word-wrap: break-word;">
              <div>
                <a href="javascript:;" class="next-page"><span>col1</span></a>
              </div>
            </td>
            <td style="word-wrap: break-word;">
              <div>col2</div>
            </td>
            <td style="word-wrap: break-word;">
              <div>col3</div>
            </td>
            <td style="word-wrap: break-word;">
              <div>col4</div>
            </td>
          </tr>
          <tr>
            <td style="word-wrap: break-word;">
              <div>
                <a href="javascript:;" class="next-page"><span>col1</span></a>
              </div>
            </td>
            <td style="word-wrap: break-word;">
              <div>col2</div>
            </td>
            <td style="word-wrap: break-word;">
              <div>col3</div>
            </td>
            <td style="word-wrap: break-word;">
              <div>col4</div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- ボディ -->
      <!-- フッター -->
      <div class="box-footer">
        <div class="boxed-table-footer">
          <div class="boxed-table-footer-button-toolbar">
            <div class="btn-group">
              <a class="btn-margin-right">
                <button type="button" class="btn btn-default btn-sm position-relative " aria-haspopup="true"
                        aria-expanded="false" id="id5ad" data-toggle="" title="新規 ユーザー">
                  <i class="fa fa-plus" style="color: green;"></i>
                </button>
                <ul class="dropdown-menu auto-width">
                  <li>
                  </li>
                </ul>
              </a>
            </div>
          </div>
          <div class="boxed-table-footer-paging">
            <div class="dataTables_info">2 の 1 から 2</div>
            <div class="paging_bootstrap">
              <ul class="pagination pagination-sm no-margin pull-right" style="margin-bottom: 0px;">
                <li class="disabled">
                  <a>&lt;&lt;</a>
                </li>
                <li class="disabled">
                  <a>&lt;</a>
                </li>
                <li class="active">
                  <a href="javascript:;">1</a>
                </li>
                <li class="disabled">
                  <a>&gt;</a>
                </li>
                <li class="disabled">
                  <a>&gt;&gt;</a>
                </li>
              </ul>
            </div>

            <div class="btn-group btn-group-sm pull-right" style="margin-left: 10px;">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                <i class="fa fa-cog"></i>
              </button>
              <ul class="dropdown-menu">
                <li><a>ページサイズ</a></li>
                <li></li>
              </ul>
            </div>

            <div class="popover fade left in">
              <div class="arrow"></div>
              <h3 class="popover-title">ページサイズ</h3>
              <div class="popover-content">
                <div>
                  <span class="text-danger"></span>
                  <div class="input-group">
                    <input type="text" size="3" style="display: inline-block; width: auto;"
                           class="form-control input-sm" value="20">
                    <div class="input-group-btn" style="width: auto;">
                      <button type="button" class="btn btn-sm btn-success">
                        <i class="fa fa-check"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- フッター -->

    </div>
  </section>
  <!-- /.content -->
</div>
</body>
</html>