<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/_layout}">
<head>
  <meta charset="UTF-8">
  <title th:text="#{table.select.title}"></title>
</head>
<body>
<div layout:fragment="content" class="fragment-master">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1 th:inline="text">
      [[#{table.select.title}]]
      <small>Optional description</small>
    </h1>
  </section>
  <!-- Main content -->
  <section class="content container-fluid col-xs-12" style="float: left;">
  </section>
  <!-- /.content -->
</div>
</body>
</html>