<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/_layout}">
<head>
  <meta charset="UTF-8">
  <title th:text="#{master.index.title}">master.select.title</title>
</head>
<body>
<div layout:fragment="content" class="fragment-master">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1 th:inline="text">
      [[#{master.index.title}]]
      <small>Optional description</small>
    </h1>
  </section>

  <!-- Main content -->
  <section class="content container-fluid col-xs-12" style="float: left;">
    <div class="row">
      <div class="col-md-12">

        <div class="box box-warning">
          <!-- with-borderでタイトルに下線 -->
          <div class="box-header with-border">
            <h3 class="box-title" th:text="#{master.select}"></h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <!-- master-select form -->
            <form role="form" class="master-select">
              <!-- select -->
              <div class="form-group">
                <label th:text="#{master.select}">Master Select</label>
                <select class="form-control">
                  <option th:each="master : ${masterList}" th:text="#{__${master.value}__}" th:value="${master.key}"></option>
                </select>
              </div>
              <div class="box-footer">
                <button type="submit" class="btn btn-primary" th:text="#{button.search}">Search</button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- /.content -->
</div>
</body>
</html>