<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/_layout}">
<head>
  <meta charset="UTF-8">
  <title th:text="#{password.change.index.title}"></title>
</head>
<body>
<div layout:fragment="content" class="fragment-master">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1 th:inline="text">
      [[#{password.change.index.title}]]
      <small>パスワード変更</small>
    </h1>
  </section>
  <!-- Main content -->
  <section class="content container-fluid col-xs-12" style="float: left;">
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li class="tab0 active">
          <a class="tab-label" href="#">パスワード変更</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active">
          <div class="row">
            <div class="col-md-12">

              <!-- top-level-prism-container -->
              <div class="top-level-prism-container">
                <div class="container-wrapper">
                  <div>
                    <div style="width:100%" class="">
                      <div class="prism-header">
                        <div class="labelContainer">
                          <a class="prism-title" href="javascript:;" style="cursor: pointer;">パスワード</a>
                        </div>
                        <div style="margin:5px">&nbsp;</div>
                      </div>
                      <!-- prism-properties -->
                      <div class="prism-properties">
                        <!-- row -->
                        <div>
                          <div class="row prism-property">
                            <div class="col-lg-2 col-md-4 col-xs-12 prism-property-label">
                              <div>
                                <span style="text-decoration: none;">現在のパスワード</span>
                              </div>
                            </div>
                            <div class="col-lg-10 col-md-8 col-xs-12 prism-property-value">
                              <div class="row">
                                <div class="col-xs-10">
                                  <div class="row">
                                    <div class="input-group col-lg-12 col-md-12 col-sm-12" style="position: relative">
                                      <input class="form-control input-sm" type="text" value="">
                                    </div>
                                  </div>
                                </div>
                                <div class="col-xs-2">
                                </div>
                              </div>
                              <div class="row">
                                <span class="text-danger"></span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- row -->
                        <!-- row -->
                        <div>
                          <div class="stripe">
                            <div class="row prism-property">
                              <div class="col-lg-2 col-md-4 col-xs-12 prism-property-label">
                                <div>
                                  <span style="text-decoration: none;">新しいパスワード</span>
                                </div>
                              </div>
                              <div class="col-lg-10 col-md-8 col-xs-12 prism-property-value">
                                <div class="row">
                                  <div class="col-xs-10">
                                    <div>
                                      <input class="form-control input-sm" type="password" autocomplete="new-password" about="password1" value="" placeholder="パスワード">
                                    </div>
                                    <div class="col-lg-1 col-md-2 col-xs-2" style="float:right; padding-right:0px;">
                                      <span class="btn-group" style="float:right;"></span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- row -->
                        <!-- row -->
                        <div>
                          <div>
                            <div class="row prism-property">
                              <div class="col-lg-2 col-md-4 col-xs-12 prism-property-label">
                                <div>
                                  <span style="text-decoration: none;">新しいパスワード（確認）</span>
                                </div>
                              </div>
                              <div class="col-lg-10 col-md-8 col-xs-12 prism-property-value">
                                <div class="row">
                                  <div class="col-xs-12">
                                    <div>
                                      <input class="form-control input-sm" type="password" autocomplete="new-password" about="password2" value="" placeholder="パスワードを再入力">
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- row -->
                      </div>
                      <!-- prism-properties -->
                    </div>
                  </div>
                </div>
              </div>
              <!-- top-level-prism-container -->

              <!-- top-level-prism-container -->
              <div class="top-level-prism-container">
                <div class="container-wrapper">
                  <div>
                    <div style="width:100%" class="">
                      <div class="prism-header">
                        <div class="labelContainer">
                          <a class="prism-title" href="javascript:;" style="cursor: pointer;">レギュレーション</a>
                        </div>
                        <div style="margin:5px">&nbsp;</div>
                      </div>
                      <div class="prism-properties">
                        <div>
                          <div class="stripe">
                            <div class="row prism-property">
                              <div class="col-lg-2 col-md-4 col-xs-12 prism-property-label">
                                <div>
                                  <span style="text-decoration: none;">値</span>
                                </div>
                              </div>
                              <div class="col-lg-10 col-md-8 col-xs-12 prism-property-value">
                                <div class="row">
                                  <div class="col-xs-10">
                                    <div>
                                      <input class="form-control input-sm" type="password" autocomplete="new-password" about="password1" value="" placeholder="パスワード">
                                      <input class="form-control input-sm" type="password" autocomplete="new-password" style="margin-top: 5px; margin-bottom: 5px;" about="password2" value="" placeholder="パスワードを再入力">
                                    </div>
                                    <div class="col-lg-1 col-md-2 col-xs-2" style="float:right; padding-right:0px;">
                                      <span class="btn-group" style="float:right;"></span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- top-level-prism-container -->

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="options-container">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">オプション</h3>
        </div>
        <div class="box-body">
        </div>
      </div>
    </div>
    <div class="main-button-bar">
      <span class="button-group">
        <a class="btn btn-default">戻る</a>
      </span>
      <a class="btn btn-info">変更のプレビュー</a>
      <a class="btn btn-primary">保存</a>
      <a class="btn btn-default pull-right">RAWデータの編集</a>
    </div>
  </section>
  <!-- /.content -->
</div>
</body>
</html>