<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/_layout}">
<head>
  <meta charset="UTF-8">
  <title>Banana</title>
</head>
<body>
<div layout:fragment="content" class="fragment-banana">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1 th:inline="text">
      [[${pageHeader}]]
      <small>Optional description</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#"><i class="fa fa-dashboard"></i> Level</a>
      </li>
      <li class="active">
        Here
      </li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content container-fluid">
    <!--------------------------
      | Your Page Content Here |
      -------------------------->
  </section>
  <!-- /.content -->
</div>
</body>
</html>